useDynLib(smbr, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
importFrom(tibble, as_tibble)
export(smb_connect)
export(smb_disconnect)
export(smb_dir)
export(smb_stat)
export(smb_read)
export(smb_write)
export(smb_download)
export(smb_upload)
export(smb_mkdir)
export(smb_delete)
export(smb_rename)
export(smb_exists)
export(smb_url)
